extends layout

block content
  div#wrap
    h1 Overall Datasync Stats
    
    P
     label Node Version:
       label#nodever

    P
     label Platform: 
       label#platform     

    P
     label Processor: 
       label#proc
    
    
    P
     label Memory Usage:
       label#mem
    
    P
     label Current Directory: 
       label#dir

    

    p
      label Start Date:    
        label#startDate 

    P
      label Run Minutes: 
        label#uptime


    p
      label Total Transactions:  
        label#total   
    p  
      label Successful Transactions:  
        label#totalGood   
    p
      label Errors:  
        label#totalErrors   

    p
      button#refresh Refresh 

    

  script
      $(document).ready(function() {
      $.ajax({
        type: "GET",
        url: "/stats",
        cache: false,
        success: function (result) {
           $(startDate).html(result.startDate);
           $(total).html(result.totalTrans);
           $(totalGood).html(result.totalSuccessfulTrans);
           $(totalErrors).html(result.totalErrTrans);
           $(nodever).html(result.nodeVer);
           $(platform).html(result.platform);
           $(proc).html(result.arch);
           $(mem).html(result.mem);
           $(dir).html(result.dir);
           $(uptime).html(result.uptime);

        },
         error: function (request,error) {
           alert(error);
          }        
    
        }); 
        $("#refresh").click(function () {   
        $.ajax({
          type: "GET",
          url: "/stats",
          cache: false,
          success: function (result) {
            //alert(JSON.stringify(result));
             $(startDate).html(result.startDate);
             $(total).html(result.totalTrans);
             $(totalGood).html(result.totalSuccessfulTrans);
             $(totalErrors).html(result.totalErrTrans);
             $(nodever).html(result.nodeVer);
             $(platform).html(result.platform);
             $(proc).html(result.arch);
             $(mem).html(result.mem);
             $(dir).html(result.dir);
             $(uptime).html(result.uptime);

          },
           error: function (request,error) {
             alert(error);
            }        
    
        }); 
            
         });

      });

